<div class="flex items-center justify-center min-h-screen bg-slate-800 px-4">
    <div class="w-full max-w-md p-8 bg-white shadow-md rounded">
        <div class="flex justify-center items-center h-20">
            <img src="../../assets/img/logo.png" class="h-auto" />
        </div>
        <form (ngSubmit)="userExists ? onChangePassword() : onSearchRecords()" #recuperarPasswordForm="ngForm">
            <div class="mt-4">
                <label class="block text-sm font-bold text-gray-700 uppercase font-signika">Correo de Recuperación:</label>
                <input
                    type="email"
                    id="correo"
                    [(ngModel)]="correo"
                    name="correo"
                    email
                    required
                    #correoField="ngModel"
                    class="w-full px-4 py-2 mt-1 text-gray-700 bg-gray-200 border rounded focus:outline-none focus:bg-white font-signika"
                />
                <div *ngIf="correoField.invalid && correoField.touched" class="uppercase text-red-700 font-signika">
                    <small *ngIf="correoField.errors?.['required']">El correo es obligatorio.</small>
                    <small *ngIf="correoField.errors?.['email']">El correo no es válido.</small>
                </div>
            </div>
            <div class="mt-4">
                <label class="block text-sm font-bold text-gray-700 uppercase font-signika">Membresía:</label>
                <input
                    type="text"
                    id="membresia"
                    [(ngModel)]="membresia"
                    name="membresia"
                    required
                    #membresiaField="ngModel"
                    class="w-full px-4 py-2 mt-1 text-gray-700 bg-gray-200 border rounded focus:outline-none focus:bg-white font-signika"
                />
                <div *ngIf="membresiaField.invalid && membresiaField.touched" class="uppercase text-red-700 font-signika">
                    <small *ngIf="membresiaField.errors?.['required']">La membresía es obligatoria.</small>
                </div>
            </div>

            <!-- Password Section: Show only if user exists -->
            <div *ngIf="userExists" class="mt-4">
                <label class="block text-sm font-bold text-gray-700 uppercase font-signika">Nueva Contraseña:</label>
                <input
                    type="password"
                    id="newPassword"
                    [(ngModel)]="newPassword"
                    name="newPassword"
                    required
                    #newPasswordField="ngModel"
                    class="w-full px-4 py-2 mt-1 text-gray-700 bg-gray-200 border rounded focus:outline-none focus:bg-white font-signika"
                />
                <div *ngIf="newPasswordField.invalid && newPasswordField.touched" class="uppercase text-red-700 font-signika">
                    <small *ngIf="newPasswordField.errors?.['required']">La nueva contraseña es obligatoria.</small>
                </div>
            </div>

            <div class="mt-6">
                <button
                    type="submit"
                    class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded uppercase hover:bg-blue-700 font-signika"
                    [disabled]="recuperarPasswordForm.invalid || isLoading"
                >
                    {{ userExists ? 'Cambiar Contraseña' : 'Buscar Usuario' }}
                </button>
            </div>
        </form>
    </div>
</div>

<!-- Show loader when loading -->
<app-loader *ngIf="isLoading"></app-loader>
