<div class="flex items-center justify-center min-h-screen bg-slate-800 px-4">
  <div class="w-full max-w-md p-8 bg-white shadow-md rounded">
    <h2 class="text-2xl md:text-3xl font-bold text-center uppercase">Agregar Password</h2>
    <div class="flex justify-center items-center h-20">
      <img src="../../assets/img/logo.png" class="h-auto" />
    </div>
    <form (ngSubmit)="onSubmit()">
      <div class="mt-4 hidden">
        <label class="block text-sm font-bold text-gray-700 uppercase">Correo</label>
        <input
          type="text"
          [(ngModel)]="cliente.correo"
          name="correo"
          readonly
          class="w-full px-4 py-2 mt-1 text-gray-700 bg-gray-200 border rounded focus:outline-none focus:bg-white"
        />
      </div>
      <div class="mt-4 hidden">
        <label class="block text-sm font-bold text-gray-700 uppercase">Membresia</label>
        <input
          type="text"
          [(ngModel)]="cliente.membresia"
          name="membresia"
          readonly
          class="w-full px-4 py-2 mt-1 text-gray-700 bg-gray-200 border rounded focus:outline-none focus:bg-white"
        />
      </div>
      <div class="mt-4">
        <label class="block text-sm font-bold text-gray-700 uppercase">Nueva Contraseña</label>
        <input
          type="password"
          [(ngModel)]="newPassword"
          name="newPassword"
          required
          class="w-full px-4 py-2 mt-1 text-gray-700 bg-gray-200 border rounded focus:outline-none focus:bg-white"
        />
      </div>
      <div class="mt-6">
        <button
          type="submit"
          class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded uppercase hover:bg-blue-700"
        >
          Cambiar Contraseña
        </button>
      </div>
      <div class="mt-4 text-center">
        <button
          type="button"
          (click)="logout()"
          class="px-4 py-2 font-bold text-white bg-red-500 rounded uppercase hover:bg-red-700"
        >
          Regresar
        </button>
      </div>
    </form>
  </div>
</div>
