<div class="flex items-center justify-center min-h-screen bg-cover bg-center bg-custom-bg px-4">
  <div class="w-full max-w-md p-8 bg-white bg-opacity-80 shadow-md rounded">
    <div class="flex justify-center items-center h-20">
      <img src="../../assets/img/logo.png" class="h-auto" />
    </div>
    <form (ngSubmit)="onSubmit()">
      <div class="mt-4 hidden">
        <label class="block text-sm font-bold text-gray-700 uppercase font-signika">Correo</label>
        <input
          type="text"
          [(ngModel)]="cliente.correo"
          name="correo"
          readonly
          class="w-full px-4 py-2 mt-1 text-gray-700 bg-gray-300 border border-yellow-800  rounded focus:outline-none focus:bg-white font-signika"
        />
      </div>
      <div class="mt-4 hidden">
        <label class="block text-sm font-bold text-gray-700 uppercase font-signika">Membresia</label>
        <input
          type="text"
          [(ngModel)]="cliente.membresia"
          name="membresia"
          readonly
          class="w-full px-4 py-2 mt-1 text-gray-700 bg-gray-300 border border-yellow-800 rounded focus:outline-none focus:bg-white font-signika"
        />
      </div>
      <div class="mt-4">
        <label class="block text-sm font-bold text-gray-700 uppercase font-signika">Agregar Contraseña</label>
        <input
          type="password"
          [(ngModel)]="newPassword"
          name="newPassword"
          required
          class="w-full px-4 py-2 mt-1 text-gray-700 bg-gray-300 border border-yellow-800 rounded focus:outline-none focus:bg-white font-signika"
        />
      </div>
      <div class="mt-6">
        <button
          type="submit"
          class="w-full px-4 py-2 font-bold text-white cursor-pointer bg-[#9f592d] rounded uppercase hover:bg-[#763e1b]  font-signika"
        >
          Guardar Contraseña
        </button>
      </div>
      <div class="mt-4 text-center">
        <button
          type="button"
          (click)="logout()"
          class="px-4 py-2 font-bold text-white bg-red-500 rounded uppercase hover:bg-red-700 font-signika"
        >
          Regresar
        </button>
      </div>
    </form>
  </div>
</div>
