<div class="flex items-center justify-center min-h-screen bg-cover bg-center bg-custom-bg px-4">
    <div class="w-full max-w-md p-8 bg-white bg-opacity-80 shadow-md rounded">
      <div class="flex justify-center items-center h-20">
        <img src="../../assets/img/logo.png" alt="Logo" class="h-auto" />
      </div>
      
      <!-- Form to search membership -->
      <form (ngSubmit)="onSearch()" #membresiaForm="ngForm">
        <!-- Email input -->
        <div class="mt-4">
          <label for="correo" class="block text-sm font-bold text-gray-700 uppercase font-signika">Correo para recuperar membresía:</label>
          <input
            type="email"
            id="correo"
            [(ngModel)]="correo"
            name="correo"
            email
            required
            #correoField="ngModel"
            class="w-full px-4 py-2 mt-1 text-gray-700 bg-gray-300 border border-yellow-800 rounded focus:outline-none focus:bg-white font-signika"
          />
          <div *ngIf="correoField.invalid && correoField.touched" class="uppercase text-red-700 font-signika">
            <small *ngIf="correoField.errors?.['required']">El correo es obligatorio.</small>
            <small *ngIf="correoField.errors?.['email']">El correo no es válido.</small>
          </div>
        </div>
        
        <!-- Password input -->
        <div class="mt-4">
          <label for="password" class="block text-sm font-bold text-gray-700 uppercase font-signika">Contraseña:</label>
          <input
            type="password"
            id="password"
            [(ngModel)]="password"
            name="password"
            required
            #passwordField="ngModel"
            class="w-full px-4 py-2 mt-1 text-gray-700 bg-gray-300 border border-yellow-800 rounded focus:outline-none focus:bg-white font-signika"
          />
          <div *ngIf="passwordField.invalid && passwordField.touched" class="uppercase text-red-700 font-signika">
            <small *ngIf="passwordField.errors?.['required']">La contraseña es obligatoria.</small>
          </div>
        </div>
        
        <!-- Submit button -->
        <div class="mt-6">
          <button
            type="submit"
            class="w-full px-4 py-2 font-bold text-white cursor-pointer bg-[#9f592d] rounded uppercase hover:bg-[#763e1b] font-signika"
            [disabled]="membresiaForm.invalid"
          >
            Buscar Membresía
          </button>
        </div>
      </form>
  
      <!-- Display membership information if available -->
      <div class="mt-6 flex flex-col space-y-3 items-center justify-center">
          <div *ngIf="showMembresia" class="mt-6">
            <p class="text-lg text-gray-700 font-signika">Su membresía es: <span class="font-extrabold">{{ membresia }}</span></p>
          </div>
          <a routerLink="/login" class="text-sm uppercase text-yellow-700 hover:underline font-signika">
              Regresar
          </a>                          
      </div>
    </div>
  </div>
  
  <!-- Loader component -->
  <app-loader *ngIf="isLoading"></app-loader>
  